/* @import "tailwindcss"; */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lilita+One&display=swap');

:root{
  --main-color: #1A0243;
  --yellow: #ffdf3e;
  --white-transparent: rgba(255,255,255,0.18);

  --bubble-type: "Lilita One", sans-serif;
  --no-bubble-type: "Inconsolata", monospace;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 751px){
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px){
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1400px){
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 2000px){
  html {
    font-size: 30px;
  }
}

@media screen and (min-width: 2600px){
  html {
    font-size: 38px;
  }
}

@media screen and (min-width: 3200px){
  html {
    font-size: 46px;
  }
}


*{
  padding: 0;
  margin: 0;
  border: 0;

  box-sizing: border-box;

  font-family: var(--no-bubble-type);
}

body{
  background-color: var(--main-color);  
  background-image: url(./img/Desktop.png);
}

.main-section{
  width: 80vw;

  margin: 8em auto 5em auto;

  @media screen and (max-width: 751px){
    width: 70vw;
  }

  @media screen and (max-width: 600px){
    width: 80vw;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;/* 
  background: linear-gradient(var(--main-color), ); */
  background-color: #10002D;
  z-index: 1000;
  padding: 1.5em 10%;
  box-sizing: border-box;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navIzq {
  color: var(--yellow);
  font-family: "Lilita One", sans-serif;
  font-size: 1.5rem;
}

.navDer ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

.navDer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: 0.4s;
}

/* RESPONSIVE */
@media screen and (max-width: 751px) {
  .navDer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* background-color: var(--main-color); */
    background-color:#10002D;
  }

  .navDer.open {
    display: block;
  }

  .navDer ul {
    flex-direction: column;
    gap: 0em;
  }

  li{
    padding: 1em 2em;
  }

  li:hover{
    background-color:#16033a;
  }

  .menu-icon {
    display: flex;
  }
}

.container-presentation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.4em;

  margin: 2em 0;

  @media screen and (max-width: 751px){
    flex-direction: column;
  }

}

/* .container-der{
  @media screen and (max-width: 751px){
    width: 70vw;

    rotate: 0deg;

    background-color: #10002D;
  }
}
 */
.container-izq img{
  width: 32vw;

  rotate: 10deg;

  filter: drop-shadow(-1em 1em 1em black);

  @media screen and (max-width: 751px){
    width: 60vw;

    rotate: 0deg;
  }

  @media screen and (max-width: 600px){
    width: 80vw;
  }
}

.container-izq img:hover{
  rotate: 0deg;
  transition: all 0.5s ease;
}

h1{
  font-size: 4rem;

  display: block;

  color: white;
  font-family: var(--bubble-type);

  padding-bottom: 0.5em;

  border-bottom: solid 0.01em rgb(255, 255, 255);
}

h1 span{
  color: var(--yellow);
  font-family: var(--bubble-type);
}

h1 + span{
  display: block;

  color: rgb(255, 255, 255);
  font-size: 1.4rem;

  margin: 1.2em 0;
}

/*develope-section*/

h2{
  font-family: var(--bubble-type);
  color: var(--yellow);
  font-size: 4rem;

  margin-bottom: 0.3em;
  
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.482);
}

.someProjects-h2{
  margin-bottom: 2rem;
}

.develope-section{

  width: 80vw;

  margin: 0px auto 5em auto;

  display: flex;
  align-items: start;

  gap: 1.5em;

  @media screen and (max-width: 751px){
    flex-direction: column;

    width: 70vw;

    align-items: center;
  }

  @media screen and (max-width: 600px){
    width: 80vw;
  }
}

.about-me-container{

  border-radius: 2em;

  background-color:#10002D;

  padding: 2em;

  color: white;

  display: flex;
  flex-direction: column;
  gap: 2em;

}

.about-me-up{
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}


.skills-up{
  background-color: transparent;

  border: solid 0.7em var(--white-transparent);
  border-radius: 2em;

  padding: 2em;

  color: white;
  font-size: 1.2rem;
}

.skills-up p{
  font-size: 1.4rem;
}

.skills-down{
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);

  width: 100%;

  gap: 0.6em;

}

@media screen and (max-width: 710px) {
  .skills-down{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1158px){
  .skills-down{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 3000px){
  .skills-down{
    grid-template-columns: repeat(5, 1fr);
  }
}


.skills-down div{
  justify-self: center;

  padding: 0.7em;

  border-radius: 0.7em;

  background-color: #3b069d;

  transition: all 0.5s ease;

  cursor: pointer;
}

.skills-down div:hover{
  filter: drop-shadow(-10px 10px rgba(18, 1, 50, 0.469));
}

.skills-down img{
  width: 5em;
  height: 5em;

  object-fit: contain;

  transition: all 0.5s ease;
}

.skills-down img:hover{
  filter: drop-shadow(-10px 5px rgba(35, 3, 93, 0.469));
}

@media screen and (max-width: 710px) {
  .skills-down img{
    width: 4rem;
  }
}


/*ABOUT ME*/

.about-me-down{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

}

.about-me-down h2{
  text-align: center;

  text-wrap: nowrap;
}

@media screen and (max-width: 850px) {
  
  .about-me-down h2{
    text-wrap: wrap;
  }
}


.yoSaludando{
  height: 12em;
  object-fit: contain;

  filter: drop-shadow( 0 10px rgba(1, 60, 1, 0.321));



  animation: arribaAbajo 1s infinite ease-in-out;
}

@keyframes arribaAbajo {
  0%,100%{
    transform: translateY(2px);
  }

  50%{
    transform: translateY(-2px);
  }
}

.cv-container{
  height: 150px;

  background-color: var(--main-color);

  border-radius: 52px;
}

/*SECTION PROJECTS*/

.projects-section{

  width: 80vw;
  height: fit-content;

  margin: 0px auto 5em auto;

  @media screen and (max-width: 751px){
    flex-direction: column;

    width: 70vw;
  }

  @media screen and (max-width: 600px){
    width: 80vw;
  }
}

.projects-container{
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media screen and (min-width: 1400px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

.project-container{

  display: flex;
  gap: 2em;

  background-color: #27016e;

  border-radius: 2.6em;

  padding: 2em;

  color: white;

  @media screen and (max-width: 751px){
    flex-direction: column;
  }

  @media screen and (min-width: 1400px){
    flex-direction: column;
  }

}

.project-container img{
  width: 50%;

  object-fit: contain;

  border-radius: 2em;

  @media screen and (max-width: 751px){
    width: 100%;
  }

  @media screen and (min-width: 1400px){
    width: 100%;
  }
}

.project-container h3{
  font-weight: bold;

  font-size: 2.5rem;

  margin-bottom: 0.6em;
}

.project-container p{
  font-size: 1.2rem;
}

/*section contact 900-750*/

.contact-section{
  width: 80vw;

  margin: 0px auto 5em auto;


  @media screen and (max-width: 751px){
    flex-direction: column;

    gap: 3em;

    width: 70vw;
  }

  @media screen and (max-width: 600px){
    width: 80vw;
  }

}

.contact-section h2{
  display: none;

  /*mas de 750px*/
  @media screen and (min-width: 750px){
    display: block;
  }

  @media screen and (min-width: 900px){
    display: none;
  }
}

.container-form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;

  width: 100%;

  @media screen and (min-width: 900px){
    flex-direction: row;
  }

  @media screen and (max-width: 750px){
    flex-direction: column;
  }
}

.image-container{
  width: 32vw;

  display: flex;
  align-items: center;

  display: none;

    @media screen and (min-width: 900px){
      width: 40vw;
      display: block;
    }
  
    @media screen and (max-width: 750px){
      display: block;
      width: 60vw;
    }
}

.circle{
  width: 100%;

  background: radial-gradient(#ffdf3e61 30%, transparent 70%);
}

.image-container img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

form{
  width: 32vw;

  background-color: var(--white-transparent);

  padding: 2em;

  border-radius: 2em;

  margin: auto;

/*   @media screen and (max-width: 751px){
    width: 70vw;
    
  } */

  @media screen and (max-width: 900px){
    width: 80vw;
  }

  @media screen and (max-width: 750px){
    width: 60vw;
  }

}

form h3{
  font-size: 1.5rem;

  margin-bottom: 1.5em;

  color: white;
}

.container-input{
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  margin-bottom: 2em;
}

.container-input label{
  color: white;
}

.container-input input, .container-input textarea{
  padding: 0.6em;

  border-radius: 0.7em;

  font-size: 1.1rem;
}

.container-input textarea{
  resize: none;
  height: 5em;
}

button{

  background-color: var(--main-color);

  color: white;
  font-size: 1.1rem;

  padding: 1em 1.5em;

  border-radius: 1em;
}

/*FOOTER SECTION*/

footer{
  background-color: #121212;

  display: flex;
  justify-content: space-between;

  padding: 0 2em;
}

.der-container-footer{
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.name-container{
  font-size: 4.5rem;
  font-family: var(--bubble-type);

  align-self: center;
  line-height: 1em;

  margin: 30px 0;
}

.img-footer{
  width: 10rem;
}

.img-footer img{
    width: 10rem;
}


