*{
  margin: 0;
  border: 0;
  padding: 0;

  font-family: sans-serif;

  box-sizing: border-box;
}

.body{
  min-height: 100vh;
  background-color: black;
}

.head-container{
  background-image: url('./images/pattern-bg-desktop.png');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  position: relative;

  padding: 30px 20px 90px 20px;
}

h1{
  font-size: 23px;
  font-weight: 500;
  color: white;
}

.input-container{
  display: flex;
}

.input-container input{
  width: 300px;
  min-width: 200px;
  max-width: 300px;
  height: 40px;

  padding: 10px;

  font-size: 15px;

  border-radius: 10px 0 0 10px;
}

.input-container button{
  width: 40px;
  height: 40px;

  background-color: black;

  background-image: url('./images/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;

  border-radius: 0 10px 10px 0px;
}

.results-container{
  display: flex;
  align-items: start;
  justify-content: start;

  width: 80%;
  height: fit-content;

  background-color: white;

  border-radius: 10px;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.257);

  padding: 20px;

  position: absolute;
  z-index: 100;
  bottom: -70px;
}

.results-container div{
  width: 100%;
  height: 60px;
  height: fit-content;

  border-right: solid 1px rgba(0, 0, 0, 0.125);

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;

  padding: 0 15px;
}

.results-container div span{
  text-align: left;
}

.results-container div span:nth-child(1){
  color: gray;

  font-size: 10px;
}

.results-container div span:nth-child(2){
  font-weight: bold;
}

.results-container div:nth-child(4){
  border: none;
}


/* MAPA */

#map {
  position: relative;
  height: 100vh;

  z-index: 0;
}


/* 700 */

@media screen and (max-width: 700px) {
  
  .results-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    width: 60%;
    height: fit-content;
  
    padding: 20px 5px;
  
    bottom: -160px;
  }


  .results-container div{
    width: 100%;
    height: 60px;
    height: fit-content;

    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 0px;

    border: none;
  }

  .results-container div span{
    text-align: center;
  }


  .input-container{
    max-width: 80%;
  }
}