:root{
  --bgc-body: rgb(151, 215, 255); 
  --bgc-nums: rgb(244, 248, 255);
  --c-nums: rgb(60, 79, 105);
  --bgc-shadow-nums: rgb(115, 163, 181);

  --bgc-del: rgb(14, 106, 171);
  --bgc-shadow-del: rgb(6, 33, 70);
  --c-del: rgb(255, 255, 255);

  --bgc-igual: rgb(1, 202, 213);
  --bgc-shadow-igual: rgb(0, 111, 119);
  --c-igual: rgb(255, 255, 255);

  --bgc-back: rgb(205, 231, 255);

  --bgc-vacio: rgb(153, 199, 255);

  --bgc-nums-pressed: rgb(232, 239, 255);
  --bgc-del-pressed: rgb(11, 78, 125);
  --bgc-igual-pressed: rgb(0, 172, 181);

  transition: all 0.5s ease;
}

.dos{
  --bgc-body: rgb(255, 226, 255); 
  --bgc-nums: rgb(251, 244, 255);
  --c-nums: rgb(105, 60, 104);
  --bgc-shadow-nums: rgb(181, 115, 176);

  --bgc-del: rgb(119, 14, 171);
  --bgc-shadow-del: rgb(65, 6, 70);
  --c-del: rgb(255, 255, 255);

  --bgc-igual: rgb(213, 111, 1);
  --bgc-shadow-igual: rgb(119, 48, 0);
  --c-igual: rgb(255, 255, 255);

  --bgc-back: rgb(253, 205, 255);

  --bgc-inputs-container: rgb(119, 0, 183);

  --bgc-vacio: rgb(255, 153, 235);

  --bgc-nums-pressed: rgb(243, 224, 253);
  --bgc-del-pressed: rgb(93, 10, 135);
  --bgc-igual-pressed: rgb(200, 104, 1);

  transition: all 0.5s ease;
}

.uno{
  --bgc-body: rgb(0, 0, 0); 
  --bgc-nums: rgb(251, 244, 255);
  --c-nums: rgb(65, 1, 96);
  --bgc-shadow-nums: rgb(157, 115, 181);

  --bgc-del: rgb(59, 171, 14);
  --bgc-shadow-del: rgb(24, 70, 6);
  --c-del: rgb(255, 255, 255);


  --bgc-igual: rgb(213, 86, 1);
  --bgc-shadow-igual: rgb(119, 48, 0);
  --c-igual: rgb(255, 255, 255);

  --bgc-back: rgb(63, 0, 105);

  --bgc-inputs-container: rgb(119, 0, 183);

  --bgc-vacio: orange;

  --bgc-nums-pressed: rgb(234, 218, 243);
  --bgc-del-pressed: rgb(48, 143, 11);
  --bgc-igual-pressed: rgb(181, 73, 0);

  transition: all 0.5s ease;
}


*{
  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  html{
    font-size: 10px;
  }
}

@media screen and (max-width: 410px) {
  html{
    font-size: 8px;
  }
}

@media screen and (min-width: 550px) {
  html{
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  html{
    font-size: 15px;
  }
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4em 0;

  width: 100%;
  min-height: 100vh;
  background-color: var(--bgc-body);
}

span{
  font-size: 2rem;
  font-weight: bold;
}

.buttons-container{
  width: 33.3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    "num7 num8 num9 DEL"
    "num4 num5 num6 MAS"
    "num1 num2 num3 MENOS"
    "PUNTO num0 DIAGONAL POR"
    "RESET RESET IGUAL IGUAL"
  ;

  gap: 2em;
}

.buttons-container button{
  background-color: var(--bgc-nums);
  color: var(--c-nums);

  font-size: 2.5rem;
  font-weight: bold;

  height: 3.75rem;

  border-radius: 0.4em;
  
  box-shadow: 0em 0.2em 0em var(--bgc-shadow-nums);
}

.num1{
  grid-area: num1;
}

.num2{
  grid-area: num2;
}

.num3{
  grid-area: num3;
}

.num4{
  grid-area: num4;
}

.num5{
  grid-area: num5;
}

.num6{
  grid-area: num6;
}

.num7{
  grid-area: num7;
}

.num8{
  grid-area: num8;
}

.num9{
  grid-area: num9;
}

.num0{
  grid-area: num0;
}

.DEL{
  grid-area: DEL;

  background-color: var(--bgc-del) !important;
  color: var(--c-del) !important;
  box-shadow: 0em 0.2em 0em var(--bgc-shadow-del) !important;
  font-size: 1.6rem !important;
}

.MAS{
  grid-area: MAS;
}

.MENOS{
  grid-area: MENOS;
}

.DIAGONAL{
  grid-area: DIAGONAL;
}

.PUNTO{
  grid-area: PUNTO;
}

.RESET{
  grid-area: RESET;

  background-color: var(--bgc-del) !important;
  color: var(--c-del) !important;
  box-shadow: 0em 0.2em 0em var(--bgc-shadow-del) !important;
  font-size: 1.6rem !important;
}

.POR{
  grid-area: POR;
}

.IGUAL{
  grid-area: IGUAL;

  background-color: var(--bgc-igual) !important;
  color: var(--c-igual) !important;
  box-shadow: 0em 0.2em 0em var(--bgc-shadow-igual) !important;
  font-size: 1.6rem !important;
}

.container-all{
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  width:fit-content;
}

.buttons-container{
  padding: 1.6em;
  border-radius: 0.4em;
  background-color: var(--bgc-back);
}

.container-all input{
  width: 100%;

  background-color: var(--bgc-back);
  border-radius: 5px;
  padding: 0.8em 0.8em;

  color: white;
  font-size: 2.5rem;
  text-align: right;
}

.head-container{
  background-color: transparent !important;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.2em 0em !important;
}

.inputs-container{
  position: relative;

  display: flex;
  gap: 0.4rem;
  flex-direction: row;

  width: 5.4em;
  height: 2em;
  padding: 0.5em;

  background-color: var(--bgc-back);

  border-radius: 16.6em;
}

.inputs-container::after{
  content: 'THEME';

  position: absolute;

  font-size: 1rem;
  left: -4.6em;
}

.inputs-container input{
  opacity: 0;

  cursor: pointer;
}


#vacio{
  position: absolute;
  top: 0.4em;

  z-index: 100;

  background-color: var(--bgc-vacio);
  border-radius: 100%;

  width: 1.25em;
  height: 1.25em;
  transition: all 0.5s ease;

  cursor: pointer;
}

label{
  position: absolute;
  z-index: 1000;

  top: -1.33em;

  font-size: 1em;
  color: white;
}

.label1{
  left: 0.67em;
}

.label2{
  left: 2.33em;
}

.label3{
  left: 4em;
}

.radio1:checked ~ #vacio{
  left: 0.4em;
}

.radio2:checked ~ #vacio{
  left: 2.08em;
}

.radio3:checked ~ #vacio{
  left: 3.75em;
}

.buttons-container button{
  cursor: pointer;
}

.buttons-container button:hover{
  background-color: var(--bgc-nums-pressed);
  box-shadow: 0px 0.25em 0px var(--bgc-shadow-nums);
  transition: all 0.1s ease;
}

.DEL:hover{
  background-color: var(--bgc-del-pressed) !important;
  box-shadow: 0px 0.25em 0px var(--bgc-shadow-del) !important;
  transition: all 0.1s ease;
}

.RESET:hover{
  background-color: var(--bgc-del-pressed) !important;
  box-shadow: 0px 0.25em 0px var(--bgc-shadow-del) !important;
  transition: all 0.1s ease;
}

.IGUAL:hover{
  background-color: var(--bgc-igual-pressed) !important;
  box-shadow: 0px 0.25em 0px var(--bgc-shadow-igual) !important;
  transition: all 0.1s ease;
}